{% extends "notes/base.html" %}
{% block content %}
<article class="media content-section">
  <img class="rounded-circle article-img" src="{{ query.user.profile.image.url }}" />
  <div class="media-body">
    <div class="article-metadata">
      <small class="text-muted">{{ query.created|date:"F d, Y" }}</small>
      <span class="badge badge-light badge-pill">{{query.category}}</span>

      {% if query.user == user %}
      <div>
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'forum:query-update' query.id %}">Update</a>
        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'forum:query-delete' query.id %}">Delete</a>
      </div>
      {% endif %}
    </div>
    <h2 class="article-title">{{ query.title }}</h2>
    <button name="badge-info" id="like" class="badge badge-danger badge-pill"<a data-href="{%url 'forum:query-likes-api-toggle' query.id%}" data-likes="{{query.likes.count}}"
      href="{%url 'forum:query-likes-toggle' query.id%}" class="btn btn-info btn-sm">{{query.likes.count}} Likes
    </a></button>
    {{query.content|safe}}
  </div>
  <p><a href="{%url 'forum:list'%}">Go Back</a></p>
</article>
{% endblock content %}