{% extends "notes/base.html" %}
{% block content %}
<h1>Your ToDo :)</h1>
{% for todo in todo %}
<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ todo.user.profile.image.url }}">
    <div class="media-body">
        <div class="article-metadata">
            <small class="text-muted">{{ todo.created|date:"F d, Y" }}</small>
        </div>
        <h2><a class="article-title" href="{% url 'todo:detail' todo.id %}">{{ todo.title }}</a></h2>
        <p class="article-content">{{ todo.content| truncatewords_html:30 }}</p>
    </div>
</article>
{% endfor %}
{% endblock content %}