{% extends "notes/base.html" %}
{%load static%}
{% load crispy_forms_tags %}
<script src="{%static 'js/post.js'%}"></script>
{% block content %}
    <div class="content-section">
        <form method="POST" autocomplete="off" id="post-form">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Todo</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </form>
    </div>
{% endblock content %}