{%extends "notes/base.html"%}
{% block content%}
<div class="row container-fluid">
	<div class="col-md-4">
		<div class="card-deck">
			<div class="card-body">
				<img class="card-img-top" src="/static/images/notes.png" alt="Card image cap">
				<br><br><br>
				<h5 class="card-title" style="color:antiquewhite;">NOTES</h5>
				<p class="card-text">
					Your notes lie here. You can label your notes as well. Your plans on
					learning code, music or maybe something else?
				</p>
				<a href="{%url 'notes:list'%}" class="btn btn-primary">Go check your notes</a>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="card-deck">
			<div class="card-body">
				<img class="card-img-top" src="/static/images/tasks.png" alt="Card image cap">
				<br><br><br>
				<h5 class="card-title" style="color: antiquewhite;">TASKS</h5>
				<p class="card-text">
					List the tasks you feel like finishing on here.
				</p>
				<a href="{%url 'todo:list'%}" class="btn btn-primary">Go to your tasks</a>
			</div>
		</div>
	</div>
		<div class="col-md-4">
		<div class="card-deck">
			<div class="card-body">
				<img class="card-img-top" src="/static/images/forum1.png" alt="Card image cap">
				<br><br><br>
				<h5 class="card-title" style="color:antiquewhite;">FORUM</h5>
				<p class="card-text">
				These are Geddit Forums. The latest feature of Geddit. Hop on it!	
				</p>
				<a href="{%url 'notes:list'%}" class="btn btn-primary">Go check out Forum</a>
			</div>
		</div>
	</div>
</div>
{%endblock content%}