{% extends "notes/base.html" %}
{%load countit%}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-sm-5" >
    <div class="card-deck">
        <form class="form-inline" method="GET" autocomplete="off" action="/notes/">
            <input class="form-control mr-sm-2" type="search" name="q" placeholder="content/keyword" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"> 🔍</button>
        </form>
    </div>
</div>


<!--Improve Search with Incremental Search (AJAX and JQuery)-->

<small class="text-muted">Your query {{ query }} has returned {{ paginator.count }} result{{ paginator.count|pluralize }}.</small>


<h1>Your Notes</h1>
<span class="badge badge-pill badge-dark">Hi {{user.first_name}}, you have made a total of {%count_posts_of user%}
    notes.</span>
<br><br>
{% for notes in notes %}
<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ notes.user.profile.image.url }}">
    <div class="media-body">
        <div class="article-metadata">
            <small class="text-muted">Last modified on {{ notes.last_modified|date:"F d, Y" }}</small>
            <small class="text-muted">and created on {{ notes.created|date:"F d, Y" }}</small>
        </div>
        <span class="badge badge-info">{{notes.category}}</span>
        <h2><a class="article-title" href="{% url 'notes:detail' notes.id %}">{{ notes.title }}</a></h2>
        
        <button name="badge-info" <a data-href="{%url 'notes:likes-api-toggle' notes.id%}" data-likes="{{notes.likes.count}}"
      href="{%url 'notes:likes-toggle' notes.id%}" class="btn btn-info btn-sm">{{notes.likes.count}} Likes
    </a></button>

        <p class="article-content">{{ notes.content|safe|truncatewords_html:30 }}</p>
    </div>
</article>
{% endfor %}

<ul class="pagination pg-grey justify-content-center">
    {% if page_obj.has_previous %}
    <li class="page-item">
        <a class="page-link"
            href="?{% if query %}q={{query}}&{% endif %}page={{ page_obj.previous_page_number }}">&laquo; Previous</a>
    </li>
    {% endif %}

    {% for i in page_obj.paginator.page_range %}
    {% if page_obj.number == i %}
    <li class="page-item active"><a class="page-link">{{ i }}</a></li>
    {% else %}
    <li class="page-item"><a class="page-link" href="?{% if query %}q={{query}}&{% endif %}page={{ i }}">{{ i }}</a>
    </li>
    {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
    <li class="page-item">
        <a class="page-link" href="?{% if query %}q={{query}}&{% endif %}page={{ page_obj.next_page_number }}">Next</a>
    </li>
    <li class="page-item">
        <a class="page-link" href="?{% if query %}q={{query}}&{% endif %}page={{ page_obj.paginator.num_pages }}">Last
            &raquo;</a>
    </li>
    {% endif %}
</ul>
{% endblock content %}